<!doctype html>
<html lang="en">
  <%- include('styles/head') %>

  <body class="text-center">
    <form class="form-signin" action="/reset?token=<%= token  %>" method="POST">
      <img
        class="mb-4"
        src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
        alt=""
        width="72"
        height="72"
      />

      <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
      
<% errors.forEach(error => { %>
  <div class="alert alert-<%= error.type %>" role="alert">
    <%= error.path  %>: <%= error.msg  %>
  </div>
  <% }) %>
     
     

      <input
        name="password"
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Password"
      />
     
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Reset password
      </button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </body>
</html>
